@charset "UTF";

*{
    box-sizing: border-box;
}

html,body{
    font-size: 16px;
    width: 100%;
    height: 100%;
    margin: 0;  
    
}
.navbar{
    color: white;
}

h2{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    border-bottom: 1px solid #080808;
    margin-top: 40px;
}

h3{
    margin-top: 90px;
    border-bottom: 1px solid #080808;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.col{
    width: 100px; 
    height: 100px;
    
                
}

#a{
    font-style: normal;
    color: white;
}
p{
    color: white;
}

.col-md-15{
    color: rgb(26, 61, 165);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80px
}

.col-md-10{
    font-family: Arial, Helvetica, sans-serif;
    height: 400px; 
    width: 300px;
}

.bt{
    border: 1px solid black;
    width: 150px; 
    height: 90px;
    margin-left: 40px;
    margin-top: 30px;
    margin-bottom: 10px;
    background-color:white
}

p{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    margin-left: 10px;
}
u{
    color: black;
    margin-right: 5px;
    
}


.footer{
    margin-left: 10px;
    margin-right: 5px;
    margin-top: 5px;
}
.fab{
    font-size: 50px;    
}


