html, body
{
    margin:0;
    height:100vh;
    font-family: 'Times New Roman', Times, serif;
}

body
{  
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: mediumaquamarine;
}
h1
{
    font-size: 1.5em;
    background-color: mediumturquoise;
}


@media (max-width: 1920px)
{
    
    h1
    {
        font-size: 1.5em;
    }

    thead
    {   
        font-size: 1em;
        
    }

    tbody
    {
        font-size: 1em
    }
    thead tr:last-child{
        display:none;
    }

}

@media(max-width: 1000px)
{
    

    h1
    {
        font-size: 1.5em;
    }


    thead
    {   
        font-size: 1em;
    }

    tbody
    {
        font-size: 1em
    }
    thead tr:first-child{
        display:none;
    }
    thead tr:last-child{
        display: table-row;

    }

}

@media(max-width: 500px) 
{
    h1
    {
        font-size: 1.5em;
        background-color: mediumturquoise;
    }
    thead
    {   
        font-size: 1.5em;
    }

    tbody
    {
        font-size: 1.25em
    }
    thead tr:first-child{
        display: table-row;
    }

    thead tr:last-child{
        display:none;

    }
    .stat{
        display:none;
    }

   
}   
table{

    width:80%;
    height: 100%;
    border-collapse: collapse;
    background-color: lightcyan;
}
td{
    border-bottom:1px solid black;
}
thead{
    background-color: mediumturquoise;
}

