@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&family=Rock+Salt&display=swap" rel="stylesheet');


/*Fonts
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Rock Salt', cursive;
*/

*{
    box-sizing: border-box;
}
body{
    width: 1310px;
}
main{
    background: black;

    
}

HEADER{
    background: black;
    height: 70px;
    color: #BB0908;
    display:flex;
    justify-content: space-between; 
    align-items: flex-end;
    padding-left: 30px;
    font-family: 'Teko', sans-serif;

    
}

nav{
    font-size: 40px;
    padding-inline-end: 25px;
}

section{   

    background: #282828;
    display:grid; 
    grid-gap: 20px;
    grid-template-areas: 'image image image image side'
                          'left left right right side'; 

   
}

#top{
    grid-area: image;

    height: 300px;
    background-image: url("images/banner.png");
}

#botton_left{
    grid-area: left;
    display: flex;
    padding: 5px;
    background: #383737;
    font-family: 'Roboto', sans-serif;
    font-size: 6px;
    border-top: red solid;
  
}
#h2{
    display: flex;
    font-family: 'Rock Salt', cursive;
    font-size: 10px;
    margin-left: 6px;
    border-bottom: red solid;
    color: #FF1D29;
    justify-content: center;
    
}

span{
    color: rgb(214, 12, 12);

}
.a{
    display: flex;
   
    height: 300px;
    left: 2px;
}
#post{

    float:left;
    background-origin: padding-box;
    
}
.b{
    width: 25%;
    height: 20%;
    margin-left: 20px;
}

#botton_right{
    grid-area: right;
    display: flex;  
    align-items: center;
  
    padding: 30px;
    background: #383737;
    font-style: normal;
    font-size: 13px;
    color: #FFFFFF; 
    font-family: 'Poppins', sans-serif;
    border-top: red solid;
 
}
.c{
    
    display: block;
    width: 110%;
    height: 70%;  
    align-content:center; 
    
}

#c{
    margin: 10px;
}


#second_post{
    display: flex;
    justify-content: space-between;
    color: #22C1CB;
    font-size: 10px;
}
#linkT{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 10px;
    padding-right: 15px;
   
}
#amazon{
  
    text-decoration: underline;
}

#money{
    font-size: 25px;
    color:white;
    font-family:  'Poppins', sans-serif;
    font-weight: bold;
    text-decoration: underline; 
}
#Lp{
    font-family: Poppins;
    font-size: 11px;
    margin-left: 6px;
    color: white;
}



#back{
    grid-area: side;
    background-color: #282828; 
    font-family: 'Roboto', sans-serif;
    color: white;
    background: #383737;
    margin-left: 10px;
    border-color: #3f3939 ;
    padding: 10px;
}
.d{
    width: 250px;
    height: 200x;
    align-content: center;
    margin-left: 35px;
}
.bottonP{
    width: 250px;
    height: 120px;
    margin-left: 40px;
}
#rightp{
    font-size: 14px;
}

   
footer{

    background: black;
    height: 50px;
    color: white;   
    
}
#footer-title{
  
    font-size: 7px;
    margin-left: 45px;
    border-top: 10px;
}
