@charset "UTF-8";


p{
    text-shadow: 10px 10px 10px crimson;
}

.spr{
    background: url('images/sprites.png') no-repeat 0px 0px;
    width: 110px;
    height: 101px;
    transition: all .5s;
    transform: rotate(43deg);
    
    
}
.sprite:hover{
    background: url("images/sprites.png") no-repeat -57px -5px;
    width: 100px;
    height: 50;
    transition: all .5s;
}