@charset "UTF-8";

html, body{
    margin: 0;
    height:100%;
    
}
body{
    display:flex;
    justify-content: center;
    align-items:center;
}
main{
    height:80%;
    background-color:burlywood;
    min-height: 50vh;
    padding:20px;
    display:flex;
    justify-content: space-evenly;
    flex-wrap: flex-end;
    flex-direction: column-reverse;

}
       
div{
    background-color: blue;
    width: 100px;   
    height:100px;
    border: 1px solid black;
    font-size: 2em;
    
} 
.thing{
    align-self: flex-end;
}   